@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
    body {
        @apply font-[Raleway];
    }
    li {
        @apply px-4;
        @apply cursor-pointer
    }
}

*{
    box-sizing: border-box;
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.content-div:hover {
    background-image: linear-gradient(
        to right,
        #0C4160,
        #738FA7 
    )!important;
}

.mobile-menu-hover:hover{
    color: #738FA7;
}

.logo-mkj{
    color: #0BA5BE;
    width: 50px;
    font-size: 1.8rem;
    font-weight: 600;
    -webkit-transform: skew(-5deg, -5deg) rotate(5deg);
            transform: skew(-5deg, -5deg) rotate(5deg);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    text-shadow: 1px 1px #00718F,
                 2px 2px #00718F,
                 3px 3px #00718F,
                 4px 4px #00718F,
                 5px 5px #00718F,
                 6px 6px #00718F,
                 7px 7px #00718F,
                 8px 8px #013F4E,
                 9px 9px #013F4E,
                 10px 10px #013F4E,
                 11px 11px 15px  rgba(0, 0, 0, 0.5)

    
}

.navbar-hover:hover{
    color: #738FA7;
}

.hamburger-hover:hover{
    color: #738FA7;
}

@media screen and (min-width: 1150px) {
    .special-icons{
        display: flex;
    }
}


