@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
    body {
        @apply font-[Raleway];
    }
    li {
        @apply px-4;
        @apply cursor-pointer
    }
}

*{
    box-sizing: border-box;
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.content-div:hover {
    background-image: linear-gradient(
        to right,
        #0C4160,
        #738FA7 
    )!important;
}

.mobile-menu-hover:hover{
    color: #738FA7;
}

.logo-mkj{
    color: #C3CEDA;
    width: 50px;
    font-size: 1.8rem;
    font-weight: 600;
    
}

.navbar-hover:hover{
    color: #738FA7;
}

.hamburger-hover:hover{
    color: #738FA7;
}

@media screen and (min-width: 1150px) {
    .special-icons{
        display: flex;
    }
}


